@{
    ViewBag.Title = "AddQuestion";
}

<script>
    var minNumberOfMoreThanOneAnswers = @(EyalProject.Models.MoreThanOneQuestion.MinAnswers);
    var maxNumberOfMoreThanOneAnswers = @(EyalProject.Models.MoreThanOneQuestion.MaxAnswers);
    var minNumberOfAmericanAnswers = @(EyalProject.Models.AmericanQuestion.MinAnswers);
    var maxNumberOfAmericanAnswers = @(EyalProject.Models.AmericanQuestion.MaxAnswers);
</script>

@Scripts.Render("~/bundles/AddQuestion")

<h2>צור שאלה</h2>

<p style="color: red; font-weight: bold">@ViewBag.OutMessage</p>

<section style="width: 30%; float: right">
    <label class="form-label">קורס:</label>

    @Html.DropDownList("ddlCourses", (SelectList)ViewBag.Courses, new { @onchange = "changeCourse(this.value)" })
    <br />

    <label class="form-label">נושא:</label>
    @Html.DropDownList("ddlSubjects", (SelectList)ViewBag.Subjects, new { @onchange = "changeSubject(this.value)" })
    <br />

    <label class="form-label">תת-נושא:</label>
    @Html.DropDownList("ddlSubsubjects", (SelectList)ViewBag.Subsubjects)
    <br />

    <label class="form-label">רמת קושי:</label>
    @Html.DropDownList("ddlDifficulties", (SelectList)ViewBag.Difficulties)
    <br />

    <label class="form-label">סוג שאלה:</label>
    @Html.DropDownList("ddlTypes", (SelectList)ViewBag.Types, new { @onchange = "changeQuestionType(this.value)" })
</section>

<section style="width: 70%; float: right">
    <label class="HeadType" for="txtQuestion">שאלה:</label>
    @Html.TextArea("txtQuestion")

    <br />

    <div id="dvAnswear">


        @*True/False type of answear *@
        <div id="dvTrueFalseAnswerType">
            <label class="HeadType" for="txtOpenAnswer">תשובה:</label>
            <label class="form-label">@Html.RadioButton("rdbTrueFalse", "True")נכון</label>
            <label class="form-label">@Html.RadioButton("rdbTrueFalse", "False")לא נכון</label>
        </div>

        @*American type of answear *@
        <div id="dvAmericanAnswerType" style="display: none">

            <label class="form-label">תשובוה נכונה:</label>
            <input type="text" id="txtAmericanCorrect" class="answer" />

            <br />
            <br />
            
            <label class="form-label">תשובות לא נכונות:</label>

            <input class="btn btn-primary" type="button" value="+" onclick="editAmericanAnswerIncorrect('add')" />
            <input class="btn btn-primary" type="button" value="-" onclick="editAmericanAnswerIncorrect('remove')" />

            <br />
            <br />

            <div id="dvAmericanIncorrect">
                <input type="text" class="answer" />
                <br />
                <input type="text" class="answer" />
                <br />
                <input type="text" class="answer" />
            </div>
        </div>

        @*MultiChoice type of answer *@
        <div id="dvMoreThanOneAnswerType" style="display: none">

            <label class="form-label">תשובות נכונות:</label>
            <input class="btn btn-primary" type="button" value="+" onclick="editMultiAnswerCorrect('add')" />
            <input class="btn btn-primary" type="button" value="-" onclick="editMultiAnswerCorrect('remove')" />

            <br />
            <br />

            <div id="dvMoreThanOneCorrect">
                <input type="text" class="answer" />
            </div>

            <br />

            <label class="form-label">תשובות לא נכונות:</label>
            <input class="btn btn-primary" type="button" value="+" onclick="editMultiAnswerIncorrect('add')" />
            <input class="btn btn-primary" type="button" value="-" onclick="editMultiAnswerIncorrect('remove')" />

            <br />
            <br />

            <div id="dvMoreThanOneIncorrect">

                <input type="text" class="answer" />
                <br />
                <input type="text" class="answer" />
                <br />
                <input type="text" class="answer" />

            </div>
        </div>

        @*Open type of answear *@
        <div id="dvOpenAnswerType" style="display: none">
            <label class="HeadType" for="txtOpenAnswer">תשובה:</label>
            @Html.TextArea("txtOpenAnswer")
        </div>
    </div>
</section>

<br />

<div>
    <input id="btnCreate" type="button" value="צור" class="btn btn-primary" style="position: absolute; top: 480px; right: 150px" />
</div>
