@model EyalProject.Models.AddQuestionViewModel

@{
    ViewBag.Title = "AddQuestion";
}

@Scripts.Render("~/bundles/AddQuestion")

<h2>צור שאלה</h2>

<p style="color: red; font-weight: bold">@ViewBag.OutMessage</p>

@using (Html.BeginForm()) {

    <section style="width:30%;float:right">
        <label class="form-label">קורס:</label>
       
        @Html.DropDownListFor(model => model.Question.Course, (SelectList)ViewBag.Courses, new {@id="ddlCourses", @onchange="changeCourse(this.value)"})
        <br/>

        <label class="form-label">נושא:</label>
        @Html.DropDownListFor(model => model.Question.Subject, (SelectList)ViewBag.Subjects, new {@id="ddlSubjects"})
        <br/>

        <label class="form-label">תת-נושא:</label>
        @Html.DropDownListFor(model => model.Question.Subsubject, (SelectList)ViewBag.Subsubjects)
        <br/>

        <label class="form-label">רמת קושי:</label>
        @Html.DropDownListFor(model => model.Question.Difficulty, (SelectList)ViewBag.Difficulties)
        <br/>
    
        <label class="form-label">סוג שאלה:</label>
        @Html.DropDownListFor(model => model.Question.QuestionType, (SelectList)ViewBag.QuestionTypes, new {@onchange="changeQuestionType(this.value)"})
    </section> 
   
<section style="width:70%;float:right">
    <label class="HeadType" for="txtQuestion">שאלה:</label>
    @Html.TextAreaFor(model => model.Question, new { id="txtQuestion" })
    
    <br/>
    
    <div id="dvAnswear">
        <label class="HeadType" for="txtOpenAnswer">תשובה:</label>
            
        @*True/False type of answear *@
        <div id="dvTrueFalseAnswearType">
            <label class="form-label">@Html.RadioButtonFor(model => model.TrueFalseQuestion.IsTrue, "True")נכון</label>
            <label class="form-label">@Html.RadioButtonFor(model => model.TrueFalseQuestion.IsTrue, "False")לא נכון</label>
        </div>
            
        @*American type of answear *@
        <div id="dvAmericanAnswearType" style="display:none">
            <div id="dvAddRemoveAmericanAnswer">
                <input class="btn btn-primary" type="button" value="+" onclick="editAmericanAnswer('add')"/>
                <input class="btn btn-primary" type="button" value="-" onclick="editAmericanAnswer('remove')"/>
            </div>

            <div id="dvAmericanAnswerContainer">
                <label class="form-label">תשובה 1:</label>
                <input type="radio" name="rdbAmerican" id="rdbAmerican1" />
                <input type="text" id="txtAmerican1" />

                <br />

                <label class="form-label">תשובה 2:</label>
                <input type="radio" name="rdbAmerican" id="rdbAmerican2" />
                <input type="text" id="txtAmerican2" />

                <br />

                <label class="form-label">תשובה 3:</label>
                <input type="radio" name="rdbAmerican" id="rdbAmerican3" />
                <input type="text" id="txtAmerican3" />

                <br />

                <label class="form-label">תשובה 4:</label>
                <input type="radio" name="rdbAmerican" id="rdbAmerican4" />
                <input type="text" id="txtAmerican4" />
            </div>
        </div>
            
        @*MultiChoice type of answear *@
        <div id="dvMultiChoiceAnswearType" style="display:none">
            <div id="dvAddRemoveMutliAnswear">
                <input class="btn btn-primary" type="button" value="+" onclick="editMultiAnswear('add')"/>
                <input class="btn btn-primary" type="button" value="-" onclick="editMultiAnswear('remove')"/>
            </div>
            
            <div id="dvMultiAnswearContainer">
                <label class="form-label">תשובה 1:</label>
                <input type="text" id="txtMulti1"/>
                <input type="checkbox" name="chkbxMulti" id="chkbxMulti1"/>

                <br/>
                <label class="form-label">תשובה 2:</label>
                <input type="text" id="txtMulti2"/>
                <input type="checkbox" name="chkbxMulti" id="chkbxMulti2"/>
                
                <br/>
                <label class="form-label">תשובה 3:</label>
                <input type="text" id="txtMulti3"/>
                <input type="checkbox" name="chkbxMulti" id="chkbxMulti3"/>

                <br/>
                <label class="form-label">תשובה 4:</label>
                <input type="text" id="txtMulti4"/>
                <input type="checkbox" name="chkbxMulti" id="chkbxMulti4"/>
            </div>
        </div>

        @*Open type of answear *@
        <div id="dvOpenAnswearType" style="display:none">
            @Html.TextAreaFor(model => model.OpenQuestion.CorrectAnswer, new { id="txtOpenAnswer" })
        </div>
    </div>
</section>

<br/>

    <div>
        <input type="submit" value="Create" class="btn btn-primary" style="position: absolute; top:480px; right:150px" />
    </div>
    
}