@model EyalProject.Models.LocalPasswordModel

<h3>שינוי סיסמא</h3>
<br/>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.OldPassword, new { @class="HeadType"})
    @Html.PasswordFor(m => m.OldPassword)
            
    @Html.LabelFor(m => m.NewPassword, new { @class="HeadType"})
    @Html.PasswordFor(m => m.NewPassword)
            
    @Html.LabelFor(m => m.ConfirmPassword, new { @class="HeadType"})
    @Html.PasswordFor(m => m.ConfirmPassword)
            
    <br />
    <br />

    <input type="submit" value="שנה סיסמא!" class="btn btn-primary"/>
}
